In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv (
    r'D:\University Files\Assignments\7th Semester\Machine Learning\noemoticon.csv', 
    header=None,
    encoding='latin-1'
)
df.head(10)

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
5,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
6,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
7,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
8,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
9,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?

In [51]:
df = df.drop([1, 2, 3, 4], axis=1)
df.columns = ['Sentiment', 'Sentence']
df.head(5)

   Sentiment                                           Sentence
0          0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          0  is upset that he can't update his Facebook by ...
2          0  @Kenichan I dived many times for the ball. Man...
3          0    my whole body feels itchy and like its on fire
4          0  @nationwideclass no, it's not behaving at all....

In [57]:
df.shape

(1600000, 2)

In [63]:
# Class Distribution:
counts = df['Sentiment'].value_counts()
print(counts)
print(f'\nNegative: {counts.iloc[0]}\nPositive: {counts.iloc[1]}')

0    800000
4    800000
Name: Sentiment, dtype: int64

Negative: 800000
Positive: 800000

In [64]:
import random

'''
    Printing a random sentence from the dataset along with its sentiment. 
    # (Run the cell again, to generate new sentence each time)
'''

sentiments = {0: 'Negative', 1: 'Neutral', 4: 'Positive'}
random_sentence_idx = random.randint(0, df.shape[0])
random_sentence = df.iloc[random_sentence_idx, 1]
sentence_sentiment = sentiments[df.iloc[random_sentence_idx, 0]]

print(f'Sentence: {random_sentence}')
print(f'Sentiment: {sentence_sentiment}')

Sentence: @Yungmarvingaye , Just left from Harlem earlier today.
Sentiment: Negative

In [65]:
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
print('ALL STOPWORDS:\n')
print(stopwords)

ALL STOPWORDS:

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [66]:
import string

def pre_process_text(text):
    # Converting the text to lowercase first
    text = text.lower()
    # Removing stopwords
    words = text.split(' ')
    words = [word for word in words if word not in stopwords]
    text = " ".join(words)
    # Removing punctuation
    return "".join(char for char in text if char not in string.punctuation)

# Testing our preprocessing function 
print(pre_process_text("I hadn't thought about this this. This is indeed a remarkable contribution....."))
print(pre_process_text(random_sentence))

thought this indeed remarkable contribution
yungmarvingaye  left harlem earlier today

In [67]:
# Let us apply our preprocessing function to all of the sentences in our dataset
df['Sentence'] = df['Sentence'].apply(pre_process_text)

In [68]:
df['Sentence'].head(5)

0    switchfoot httptwitpiccom2y1zl  awww thats bum...
1    upset cant update facebook texting it might cr...
2    kenichan dived many times ball managed save 50...
3                    whole body feels itchy like fire
4    nationwideclass no behaving all im mad here ca...
Name: Sentence, dtype: object

In [70]:
# Seperate sentiments from sentences
X = df['Sentence']
y = df['Sentiment'].values

In [72]:
# Splitting the dataset into training and testing 70% and 20% respectively.
from sklearn.model_selection import train_test_split
rand_seed = 42 # To ensure the reproducibility
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, stratify=y, random_state=rand_seed)

In [73]:
print(f'Training Samples: {len(X_train)}')
print(f'Test Samples: {len(X_test)}')

Training Samples: 1120000
Test Samples: 480000