In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('covtype.csv')
pd.set_option('display.max_columns', len(df.columns))
df.head(5)

,Unnamed,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54
0,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5

In [46]:
soil_types = ['Soil Type {}'.format(i) for i in range(1, 41)]
cover_types = [
    'Spruce/Fir',
    'Lodgepole Pine',
    'Ponderosa Pine',
    'Cottonwood',
    'Aspen',
    'Douglas-fir',
    'Krummholz',
]

col_names = [
    'Elevation Quantitative',
    'Aspect Azimuth Aspect',
    'Slope Degrees',
    'Horizontal_Distance_To_Hydrology',
    'Vertical_Distance_To_Hydrology',
    'Horizontal_Distance_To_Roadways',
    'Hillshade_9am',
    'Hillshade_Noon',
    'Hillshade_3pm',
    'Horizontal_Distance_To_Fire_Points',
    'Rawah Wilderness Area',
    'Neota Wilderness Area',
    'Comanche Peak Wilderness Area',
    'Cache la Poudre Wilderness Area',
]

col_names.extend(soil_types)
col_names.append('Cover Type')

In [47]:
df.columns = col_names

In [48]:
df.head(5)

,Elevation Quantitative,Aspect Azimuth Aspect,Slope Degrees,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Rawah Wilderness Area,Neota Wilderness Area,Comanche Peak Wilderness Area,Cache la Poudre Wilderness Area,Soil Type 1,Soil Type 2,Soil Type 3,Soil Type 4,Soil Type 5,Soil Type 6,Soil Type 7,Soil Type 8,Soil Type 9,Soil Type 10,Soil Type 11,Soil Type 12,Soil Type 13,Soil Type 14,Soil Type 15,Soil Type 16,Soil Type 17,Soil Type 18,Soil Type 19,Soil Type 20,Soil Type 21,Soil Type 22,Soil Type 23,Soil Type 24,Soil Type 25,Soil Type 26,Soil Type 27,Soil Type 28,Soil Type 29,Soil Type 30,Soil Type 31,Soil Type 32,Soil Type 33,Soil Type 34,Soil Type 35,Soil Type 36,Soil Type 37,Soil Type 38,Soil Type 39,Soil Type 40,Cover Type
0,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5

In [49]:
df.shape

(581012, 55)

In [50]:
(df == None).sum()

Elevation Quantitative                0
Aspect Azimuth Aspect                 0
Slope Degrees                         0
Horizontal_Distance_To_Hydrology      0
Vertical_Distance_To_Hydrology        0
Horizontal_Distance_To_Roadways       0
Hillshade_9am                         0
Hillshade_Noon                        0
Hillshade_3pm                         0
Horizontal_Distance_To_Fire_Points    0
Rawah Wilderness Area                 0
Neota Wilderness Area                 0
Comanche Peak Wilderness Area         0
Cache la Poudre Wilderness Area       0
Soil Type 1                           0
Soil Type 2                           0
Soil Type 3                           0
Soil Type 4                           0
Soil Type 5                           0
Soil Type 6                           0
Soil Type 7                           0
Soil Type 8                           0
Soil Type 9                           0
Soil Type 10                          0
Soil Type 11                          0
Soil Type 12                          0
Soil Type 13                          0
Soil Type 14                          0
Soil Type 15                          0
Soil Type 16                          0
Soil Type 17                          0
Soil Type 18                          0
Soil Type 19                          0
Soil Type 20                          0
Soil Type 21                          0
Soil Type 22                          0
Soil Type 23                          0
Soil Type 24                          0
Soil Type 25                          0
Soil Type 26                          0
Soil Type 27                          0
Soil Type 28                          0
Soil Type 29                          0
Soil Type 30                          0
Soil Type 31                          0
Soil Type 32                          0
Soil Type 33                          0
Soil Type 34                          0
Soil Type 35                          0
Soil Type 36                          0
Soil Type 37                          0
Soil Type 38                          0
Soil Type 39                          0
Soil Type 40                          0
Cover Type                            0
dtype: int64

In [51]:
X = df.drop(columns=['Cover Type'])
y = df['Cover Type']

In [52]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, stratify=y)

In [54]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)
score = dt.score(X_test, y_test)
score

0.9340520011015238

In [57]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
score = logreg.score(X_test, y_test)
score

c:\Users\Ammar\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6197620249678722